/* *, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }

  .container-md {
    padding: 0 3rem;
  }
}




.pharm-events{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  .pharm-events-card{
    background-color:#ffffff;
    margin: 20px;
    padding: 10px;
    width: 400px;
  }
  
  .pharm-events-card-container{
    display: flex;
  }
  .pharm-events-card-flex:nth-child(1){
    background: url("https://i.imgur.com/82gVka1.jpg");
    background-size: cover;
    box-shadow: -4px 4px 14px 1px #333;
    padding: 20px;
    width: 250px;
    position: relative;
  }
  .pharm-events-card-flex:nth-child(2){
    background-color:#fff;
    border:1px solid #e3e3e3;
    border-left: 4px solid #ffba00;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left:-10px;
    padding:10px;
    z-index: 1
  }
  .pharm-events-date{
    background-color: #404040;
    padding:2px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 10px;
    
    z-index: 2;
  }
  
  .date{
    text-align: center;
    font-size: 18pt;
    box-shadow: -4px 4px 14px 1px #333;
  }
  
  .date::first-line{
    position: center;
    font-size: 10pt;
  }
 */



 
 .header{ 
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/photo-1589998059171-988d887df646.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex:1;
  text-align:right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-weight:bolder;
}

.nav-links ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: skyblue;
  display:block;
  margin:auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%;
}
.logo{
  border:1px transparent;
  align-items: center;
  width:15%;
  float:left;
}
.img-responsive{
  width:25%;
}
.clear-fix{
  clear: both;
  float: none;
}

.text-box{
  width:90%;
  color:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 40px;
  color:#fff;
  /*font-style: italic;*/
  font-family: Lucida Handwriting;
}

nav .fa{
  display:none;
}

@media(max-width: 700px){
  .text-box h1{
      font-size: 23px;
      color:#fff;
      /*font-style: italic;*/
      font-family: Lucida Handwriting;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background:#6C6C6C;
      height: 100vh;
      width: 200px;
      top:0;
      right:-200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
      display: block;
      color:#fff;
      margin:10px;
      font-size:22px;
      cursor:pointer;
  }
  .nav-links ul{
      padding: 30px;
  }
  .body {overflow-x: hidden;}
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #ff7979;
}
::selection{
  color: #fff;
  background: #ff7979;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

